<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{title}} - Details</title>
    <!-- Include Bootstrap and FontAwesome CSS here -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">        
        <a style="float:right" href="javascript:navigation.back()">Back</a>
        <h1>{{title}}</h1>
        <p><strong>Project:</strong> {{projectName}}</p>
        <p><strong>Link to Original Issue:</strong> <a href="{{projectIssueLink}}">Original Issue</a></p>
        <p><strong>Description:</strong></p>
        {{{descriptionHtml}}} <!-- Use triple braces to render HTML -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Notes</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each notes}}
                <tr>
                    <td>{{{this.bodyHtml}}} <!-- Use triple braces to render HTML --></td>
                    <td>{{this.created}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
