<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet">
    <style>
        .lastNote
        {
            font-size: 0.75em;
        }
        .open {

        }
        .closed,.closed {
            color: #44be60;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h2>{{pageTitle}}</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Summary</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                {{#each issues}}
                <tr class="{{this.rowClass}}">
                    <td>{{this.projectName}}</td>
                    <td><a href="{{this.detailsLink}}">{{this.id}}</a></td>
                    <td><i class="{{this.iconClass}}"></i></td>
                    <td><a href="{{this.detailsLink}}">{{this.title}}</a>
                        {{#if this.lastNote}}
                        <i class="lastNote">({{this.lastNote}})</i>
                        {{/if}}
                    </td>
                    <td>{{this.updated}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</body>
</html>
